<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" id="style">
    <link rel="icon" type="image/x-icon" href="/images/FantasyStarIcon.png">
    <title>Fantasy Star</title>
</head>
<body>
    <header>
        <a th:href="@{/}"><img src="/images/FantasyStarLogo.png"</a> 
        <form th:action="@{/brinquedos/pesquisar}" method="get">
            <input type="text" id="filtroNome" name="filtroNome" placeholder="Procure aqui" th:value="${filtroNome}">
            <button type="submit">Pesquisar</button>
        </form>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/catalogo}">Catalogo de Brinquedos</a></li>

            <span th:remove="tag" sec:authorize="hasRole('ADM')">
                <li><a th:href="@{/administração}">Administração</a></li>
            </span>
            <span th:remove="tag" sec:authorize="hasRole('USER')">
                <li><a th:href="@{/user/perfil}">Perfil</a></li>
            </span>
            <span th:remove="tag" sec:authorize="!isAuthenticated()">
                <li><a th:href="@{/user/login}">Login</a></li>
            </span>
            <li><a th:href="@{/sobre}">Sobre a equipe</a></li>

            <button id="modoEscuroBtn" onclick="modoEscuro()">Modo escuro</button>
        </ul>
    </header> 

    <h2 th:text="${filtroNome} ? 'Filtrando por: ' + ${filtroNome} : 'Filtrando por:'"></h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>ID</th>
                <th>Categoria</th>
                <th>Preço</th>
                <th>Qntd</th>
                <th>Descrição</th>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre a lista de alunos e exibir cada aluno -->
            <tr th:each="brinquedo : ${brinquedos}">
                <td th:text="${brinquedo.nome}"></td>
                <td th:text="${brinquedo.id}"></td>
                <td th:text="${brinquedo.categoria}"></td>
                <td th:text="${brinquedo.preco}"></td>
                <td th:text="${brinquedo.qntd}"></td>
                <td th:text="${brinquedo.descricao}"></td>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </tbody>
    </table>

    <script type="text/javascript" src="/js/main.js"></script>
    <script>aplicarModoEscuro()</script>
</body>
</html>
