<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" id="style">
    <link rel="icon" type="image/x-icon" href="/images/FantasyStarIcon.png">
    <title>Fantasy Star</title>
</head>
<body>
    <header>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/catalogo}">Catalogo de Brinquedos</a></li>

            <span th:remove="tag" sec:authorize="hasRole('ADM')">
                <li><a th:href="@{/administração}">Administração</a></li>
            </span>
            <span th:remove="tag" sec:authorize="hasRole('USER')">
                <li><a th:href="@{/user/perfil}">Perfil</a></li>
            </span>
            <span th:remove="tag" sec:authorize="!isAuthenticated()">
                <li><a th:href="@{/user/login}">Login</a></li>
            </span>
            <li><a th:href="@{/sobre}">Sobre a equipe</a></li>

            <button id="modoEscuroBtn" onclick="modoEscuro()">Modo escuro</button>
        </ul>
    </header> 
    <h3>Login</h3>
    <form th:action="@{/user/logar}" method="post">
        <table border="1">
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" size=40 /></td>
            </tr>
            <tr>
                <td>Senha</td>
                <td><input type="password" name="senha" size=40 /></td>
            <tr>
                <td colspan="2"><input type="submit" value="Enviar" /> <a th:href="@{/}">voltar</a> <a th:href="@{/user/signin}"></a></td>
            </tr>
    </form>
    </table>
    

    <script th:if="${!#strings.isEmpty(mensagemErro)}" th:inline="javascript">
            /*<![CDATA[*/
            alert([[$,{mensagemErro}]]);
            /*]]>*/
    </script>
    </body>
</html>